html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    display: grid;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

header {
    background-color: red;
    display: flex;
    justify-content: center;
}

nav.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px;
}

.navbar-container ul li {
    margin: 10px;
    padding: 0px;
}

.navbar-container a {
    color: white;
    text-decoration: none;
}

form.new_student {
    grid-column: 2 / 3;
    justify-self: center;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.create_internship_field {
    grid-column: 2 / 3;
} 

table {
    border-collapse: collapse;
    grid-column: 2 / 3;
    justify-content: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

td.edit_button,
td.delete_button {
    border: None;
}

button.save_button {
    background-color: green;
    color: white;
    
}

button.delete_button {
    background-color: darkred;
    color: white;
}

footer {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}