{% extends "index.html" %}

{% block body %}
<form class="new_student" action="/enroll" method="post">
    <label for="last_name">NOM:</label><br>
    <input id="last_name" name="last_name" placeholder="NOM" type="text"><br>

    <label for="first_name">Prénom:</label><br>
    <input id="first_name" name="first_name" placeholder="Prénom" type="text"><br>

    <!-- Not part of MVP
    <label for="adresse">adresse postale:</label><br>
    <input id="adresse" placeholder="adresse" type="text"><br>

    <label for="code_postale">code postale:</label><br>
    <input id="code_postale" placeholder="code postale" type="number"><br>

    <label for="ville">ville:</label><br>
    <input id="ville" placeholder="ville" type="text"><br>

    <label for="phone">numéro téléphone:</label><br>
    <input id="phone" placeholder="numéro téléphone" type="tel"><br>

    <label for="email">adresse mail:</label><br>
    <input id="email" placeholder="adresse mail" type="email"><br>
    -->

    <label for="submit"></label>
    <input id="submit" type="submit" value="Submit">
</form>
{% endblock %}