<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management Application</title>
</head>
<body>
    <header>This is the header.</header>

    <form action="">
        <label for="nom">NOM:</label><br>
        <input id="nom" placeholder="NOM" type="text"><br>

        <label for="prénom">Prénom:</label><br>
        <input id="prénom" placeholder="Prénom" type="text"><br>

        <label for="adresse">adresse postale:</label><br>
        <input id="adresse" placeholder="adresse" type="text"><br>

        <label for="code_postale">code postale:</label><br>
        <input id="code_postale" placeholder="code postale" type="number"><br>

        <label for="ville">ville:</label><br>
        <input id="ville" placeholder="ville" type="text"><br>

        <label for="phone">numéro téléphone:</label><br>
        <input id="phone" placeholder="numéro téléphone" type="tel"><br>

        <label for="email">adresse mail:</label><br>
        <input id="email" placeholder="adresse mail" type="email"><br>

        <label for="submit"></label>
        <input id="submit" type="submit" value="Submit">
    </form>

    <footer>This is the footer.</footer>
</body>
</html>