{% extends "index.html" %}

{% block body %}

<form class="create_internship_field" action="/create_new_internship" method="post">
    <label for="location">Nom du cabinet:</label>
    <input name="location" placeholder="Cabinet" type="text">
    <button type="submit">Créer</button>
</form>

<table>
    <thead>
        <tr>
            <th>Code Unique</th>
            <th>Nom du cabinet</th>
        </tr>
    </thead>
    <tbody>
        {% for internship in internships %}
            <tr>
                <td>{{ internship.internship_ID }}</td>
                <td>{{ internship.business_name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}